<footer>
  <div>

  </div>
  <div>
    <div>
      <form action="get">
        <label class="labelSubIncArriba">Reporte de Error no Encontrado</label> 
        <textarea class="textoProbInc" name="noEncontrado" rows="6" cols="150" placeholder="Descripcion del error no encontrado"></textarea>
        <label class="labelSubInc">Numero de incidente</label>
        <input class="textoSubInc" type="text">
        <input class="botonSubInc" type="button" value="Enviar">
      </form>
    </div>
  </div>
</footer>