<section>
    <div>
        <div>
            <form action="get">
                <label>Busqueda</label>
                <input type="text" placeholder="Intoduce un dato">
                <label>Resultado</label>
                <input type="text" placeholder="Intoduce un dato" readonly>
                <input type="button" value="Buscar">
            </form>
        </div>
        <div>
            <form action="get">
                <label>Busqueda</label>
                <input type="text" placeholder="Intoduce un dato">
                <label>Resultado</label>
                <input type="text" placeholder="Intoduce un dato" readonly>
                <input type="button" value="Buscar">
            </form>
        </div>
    </div>
</section>